.navigation {
    width: 100%;
    height: 14vh;
    background-color: #232323;
    color: white;
    position: fixed;
    top: 0;
    border-bottom: 2px solid #787878;
    border-top: 2px solid red;
}

.logo{
    width: 60px;
    margin: 20px;
}